<header>
    <div class="contained d-flex flex-column ">
      
      <div class="img-fluid header-image">
        <div class="shadow"></div>
        <div class="container-fluid student-info">
          <table class="img-fluid">
            <tr>
              <td>
                <ul>
                  <li class="heading_title">College: Engineering</li>
                  <li class="heading_title">Dep: Computer</li>
                  <li class="heading_title">Stage: Senior</li>
                  <li class="heading_title">Section: A</li>
                </ul>
              </td>
              <td class="td_2">
                <div class="img-fluid profile">
                  <img src="../css/image/ammar.png" alt="image" />
                </div>
              </td>
              <div class="heading_name">عمار هاني كامل</div>
              <td>
                <ul class="ul-option">
                  <li class="options">
                    <a href="#">
                      
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </header>
