<%- include("sidebar"); -%>
<div class="container">
    <div class="table-title">جدول الدروس</div>
    <a href="#">
    <div class=" table-l">
        <span>
            المرحلة الاولي
        </span>
    </div>
    </a>

    <a href="#">
        <div class=" table-l">
            <span>
                المرحلة الاولي
            </span>
        </div>
        </a>

        <a href="#">
            <div class=" table-l">
                <span>
                    المرحلة الاولي
                </span>
            </div>
            </a>

            <a href="#">
                <div class=" table-l">
                    <span>
                        المرحلة الاولي
                    </span>
                </div>
                </a>
  
</div>
<%- include('footer'); -%>
