
    <%- include("header"); -%>
    <%- include("sidebar"); -%>
    <main class="main">
        <div class="content">
          <div class="notify">
            <div class="notify-bag">
              <!-- <i class="fa fa-envelope-open-text notify-bag-1"></i> -->
              <i class="fa fa-envelope notify-bag-1"></i>
              <span class="text"
                >السلام عليكم .. نظرا لتجاوز الطلبة المدرجة اسمائهم في الملف
                المرفق نسبة الغياب 5% تقرر انذارهم انذار أولي على أن يحضر جميع
                الطلبة المذكور على ان يتم كتابة تعهد ويسلم ..
                <span class="text-1">اقرأ المزيد</span>
              </span>
            </div>
          </div>
          <div class="notify">
            <div class="notify-bag">
              <!-- <i class="fa fa-envelope-open-text notify-bag-1"></i> -->
              <i class="fa fa-envelope notify-bag-1"></i>
              <span class="text"
                >السلام عليكم .. نظرا لتجاوز الطلبة المدرجة اسمائهم في الملف
                المرفق نسبة الغياب 5% تقرر انذارهم انذار أولي على أن يحضر جميع
                الطلبة المذكور على ان يتم كتابة تعهد ويسلم ..
                <span class="text-1">اقرأ المزيد</span>
              </span>
            </div>
          </div>
          <div class="notify">
            <div class="notify-bag">
              <!-- <i class="fa fa-envelope-open-text notify-bag-1"></i> -->
              <i class="fa fa-envelope notify-bag-1"></i>
              <span class="text"
                >السلام عليكم .. نظرا لتجاوز الطلبة المدرجة اسمائهم في الملف
                المرفق نسبة الغياب 5% تقرر انذارهم انذار أولي على أن يحضر جميع
                الطلبة المذكور على ان يتم كتابة تعهد ويسلم ..
                <span class="text-1">اقرأ المزيد</span>
              </span>
            </div>
          </div>
          <div class="notify">
            <div class="notify-bag">
              <!-- <i class="fa fa-envelope-open-text notify-bag-1"></i> -->
              <i class="fa fa-envelope notify-bag-1"></i>
              <span class="text"
                >السلام عليكم .. نظرا لتجاوز الطلبة المدرجة اسمائهم في الملف
                المرفق نسبة الغياب 5% تقرر انذارهم انذار أولي على أن يحضر جميع
                الطلبة المذكور على ان يتم كتابة تعهد ويسلم ..
                <span class="text-1">اقرأ المزيد</span>
              </span>
            </div>
          </div>
  
          <div class="clear"></div>
        </div>
      </main>
      <%- include('footer'); -%>
