
<link rel="stylesheet" href="/css/sidebar.css">
<div class="sidebar ">
    <div class="toggle-btn">
        <span></span>
        <span></span>
        <span></span>
    </div> 
    <div class="moon-bag"><img src="../css/image/moon.png" class="moon"></div>
    <img class="logo logo-sidebar" src="../css/image/logo.png" alt="logo">
    <div class="links">
        <a href="/">
             الرئيسية 
             <i class="side-logo fa fa-home"></i>       
        </a>

        <a href="/lecture-table">
            جدول الدروس
            <i class="side-logo fa fa-table"></i>
        </a>

        <a href="#">
            الدرجات 
            <i class="side-logo fab fa-audible"></i>
        </a>

        <a href="#">
             الغيابات   
            <i class="side-logo fa fa-database"></i>
        </a>

        <a href="#">
            المحاضرات   
            <i class="side-logo fas fa-chalkboard-teacher"></i>
        </a>

        <div class="sign-out">
            <a href="#">
                <i class="fa fa-cog settings"></i>
            </a>

            <a href="#" class="sign">
                تسجيل خروج   
            </a>
        </div>
    </div> 
</div>
